/* AUTH.LOGIN */

.login-page {
    background: #f4f6f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
}

.card {
    width: 100%;
    max-width: 400px;
    border-radius: 12px;
    border: none;
}

.input-group-text {
    background: #f8f9fa;
    border-left: 0;
}

/* LAYOUTS.SIDEBAR */

.left-sidebar {
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.03);
}

.brand-logo {
    padding: 20px;
}

.sidebar-link {
    border-radius: 12px;
    margin: 5px 12px;
    transition: 0.3s;
}

.sidebar-link:hover {
    background: #f2f6fa;
}

.sidebar-link.active {
    background: #28557d !important;
    color: #fff !important;
}

.sidebar-link.active i {
    color: #fff !important;
}

.sidebar-link.active span {
    color: #fff !important;
}

/* LAYOUTS.HEADER */

.app-header {
    height: 70px !important;
    top: 0;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.03);
}

.navbar {
    min-height: 70px !important;
    display: flex;
    align-items: center;
}

.nav-link.sidebartoggler i {
    color: #28557d;
    transition: 0.3s;
}

.nav-link.sidebartoggler:hover i {
    color: #28557d;
}

.page-title {
    font-size: 30px;
    font-weight: bold;
    color: #28557d;
    margin-bottom: 0;
}

.header-line {
    margin: 0;
    border: 0;
    border-top: 4px solid #dee2e6;
}